<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>

    <table border="1">
      <tr>
        <th>Pb Name:</th>
        <th>Pb Link:</th>
      </tr>
      <tr>
        <td>A</td>
        <td> <a href="A_AddProduct.php">Link</a></td>
      </tr>
      <tr>
        <td>B</td>
        <td> <a href="B_Display.php">Link</a></td>
      </tr>
      <tr>
        <td>C</td>
        <td> <a href="C_Edit.php">Link</a></td>
      </tr>
      <tr>
        <td>D</td>
        <td> <a href="D_Delete.php">Link</a></td>
      </tr>
      <tr>
        <td>E</td>
        <td> <a href="E_Search.php">Link</a></td>
      </tr>
    </table>
  </head>
  <body>

  </body>
</html>
